@import "node_modules/bootstrap/scss/bootstrap";

body {
  font-family: 'Roboto', sans-serif;
}

.left-rail {
  border: solid black 1px;
  display: inline-block;
  padding-right: .5em;
  height: calc(100vh - 3.8em);
  overflow-y: scroll;
  width: 26em;
  scroll-behavior: smooth;
  transition: .3s;
}

.left-rail-content {
  padding: 20px;
  background-color: #171a1e;
  height: 100%;
}

.left-rail-content>.title {
  color: white;
}

.left-rail-content>.button-section {
  background-color: #222831;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 10px;
  padding-bottom: 6px;
  border-radius: 10px;
}

.selection-modal-btn {
  width: 100%;
  display: flex;
  flex-direction: row;
  background-color: #222831;
  border: solid;
  border-width: 3px;
  border-color: #2d4059;
  border-radius: 4px;
}

.selection-modal-btn:hover {
  background: #222831;
  border-color: #ff5722;
}

.option-modal-icon {
  width: 40px;
  height: 40px;
  margin-right: .75rem;
  align-self: center;
}

.option-modal-info {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.option-modal-info>.ancestry {
  font-size: .9em;
  margin-bottom: 0px;
  color: #b0afaf;
}

.option-modal-info>.ancestry-name {
  font-size: 1em;
  margin-bottom: 0px;
}

.main-center {
  border: solid black 1px;
  width: 100%;
}

.main-content-top {
  display: flex;
  flex-direction: row;
}

.main-content-top>.left {
  display: flex;
  flex-direction: column;
}

/* .main-content-top>.right {} */

.basics-and-stats {
  display: flex;
  flex-direction: column;
  width: 43em;
  height: 7em;
}

.basics-and-stats>.basics {
  display: flex;
  flex-direction: row;
}

.basics-and-stats>.stats {
  display: flex;
  flex-direction: row;
}

.ac-and-saves {
  width: 43em;
  height: 7em;
}