:root {
  --blue: #1e90ff;
  --white: #ffffff;
  --accent: #ff5722;
  --extraBackground: #171a1e;
  --background: #222831;
  --foreground: #2d4059;
  --secondaryText: #b0afaf;
  --mainText: white;
}

p {
  margin: 0px;
}

.App {
  display: flex;
  flex-direction: row;
  text-align: center;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.center {
  display: flex;
  justify-content: center;
  align-content: center;
}

.self-center {
  align-self: center;
}

.background-round {
  border-radius: 10px;
}

.icon-color {
  color: var(--accent)
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form input {
  width: 300px;
  height: 60px;
  margin: 10px;
  font-size: 25px;
}

body {
  font-family: 'Roboto', sans-serif;
}

.left-rail {
  border: solid black 1px;
  display: inline-block;
  padding-right: .5em;
  height: calc(100vh - 3.8em);
  overflow-y: scroll;
  width: 26em;
  scroll-behavior: smooth;
  transition: .3s;
}

.left-rail-content {
  padding: 20px;
  background-color: var(--extraBackground);
  height: 100%;
}

.left-rail-content>.title {
  color: white;
}

.left-rail-content>.button-section {
  background-color: var(--background);
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 10px;
  padding-bottom: 6px;
  border-radius: 10px;
}

.selection-modal-btn {
  width: 100%;
  display: flex;
  flex-direction: row;
  background-color: var(--background);
  border: solid;
  border-width: 3px;
  border-color: var(--foreground);
  border-radius: 4px;
}

.selection-modal-btn:hover {
  background: var(--background);
  border-color: var(--accent);
}

.option-modal-icon {
  width: 40px;
  height: 40px;
  margin-right: .75rem;
  align-self: center;
}

.option-modal-info {
  display: flex;
  flex-direction: column;
  text-align: left;
  align-self: center;
}

.option-modal-info>.ancestry {
  font-family: 'Roboto', sans-serif;
  font-size: .9em;
  margin-bottom: 0px;
  margin-top: 0px;
  color: var(--secondaryText);
}

.option-modal-info>.ancestry-name {
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
  margin-top: 0px;
  margin-bottom: 0px;
  color: var(--mainText);
}

.main-center {
  border: solid black 1px;
  width: 100%;
}

.main-content-top {
  display: flex;
  flex-direction: row;
}

.main-content-top>.left {
  display: flex;
  flex-direction: column;
}

/* .main-content-top>.right {} */

.basics-and-stats {
  display: flex;
  flex-direction: column;
  width: 43em;
  background-color: var(--background);
  color: var(--mainText);
  padding: 10px;

}

.basics-and-stats>.basics {
  display: flex;
  flex-direction: row;
}

.basics-and-stats>.stats {
  display: grid;
  grid-template-columns: 1fr 1fr 3fr;
  text-align: left;
  padding-top: 15px;
  padding-bottom: 8px;
}

.stat-grid-item {
  text-align: center;
}

.stat-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}

/* .basics-and-stats>.stats>.size, .basics-and-stats>.stats>.speed {
  margin-right: 10px;
}

.stat-nums {
  margin-right: 5px;
} */

.size-icon {
  margin-right: 5px;
}

.ac-and-saves {
  width: 43em;
  height: 7em;
}

